<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Document</title>
  <style>
    .custom-alert {
      max-width: 500px;
      margin: 0 auto;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: #721c24;
      padding: 20px;
      border-radius: 5px;
    }

    .custom-alert h4 {
      margin-top: 0;
    }
  </style>
</head>
<body>
  <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="custom-alert">
      <h4 class="text-center">Pronto estará habilitada esta sección</h4>
      <p class="text-center">Estamos trabajando en ello. ¡Gracias por tu paciencia!</p>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
