<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="footer.component.css">
  <script src="https://kit.fontawesome.com/5e2e201a7f.js" crossorigin="anonymous"></script>
  <title>Document</title>
  <style>

  </style>
</head>
<body>
   <!-- Footer -->
   <footer
   class=" text-lg-start text-dark"
   style="background-color: #2290FF"
   >
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
 <!--Grid row-->
 <div class="row">
   <!-- Grid column -->
   <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
     <h6 class="text-uppercase mb-4 font-weight-bold">
      VOZIPCOMPANY & ICTLATAM
     </h6>
     <p>
      VOZIPCOMPANY & ICTLATAM, es una empresa especializada en ofrecer conectividad a internet. 
          Nos enorgullece proporcionar servicios confiables y de alta calidad para satisfacer las necesidades 
          de nuestros clientes. 
     </p>
   </div>
   <!-- Grid column -->

   <hr class="w-100 clearfix d-md-none" />

   <!-- Grid column -->
   <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
     <h6 class="text-uppercase mb-4 font-weight-bold">INFORMACION</h6>
     <p>
       <a class="text-dark" href="">Terminos y condiciones</a>
     </p>
     <p>
       <a class="text-dark" href="">Politicas de seguridad</a>
     </p>
     <p>
       <a class="text-dark" href="">Proteccion de datos personales</a>
     </p>
   </div>
   <!-- Grid column -->

   <hr class="w-100 clearfix d-md-none " />

   <!-- Grid column -->
   <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-center">
     <h6 class="text-uppercase mb-4 font-weight-bold">
       Redes sociales
     </h6>
     <p class="">
                     <!-- Facebook -->
     <a
     class="btn btn-outline-light btn-floating m-1 "
     class="text-white"
     role="button"
     ><i class="fa-brands fa-facebook" style="font-size: 40px;"></i></a>

     </p>
     <p>
                     <!-- Instagram -->
     <a
     class="btn btn-outline-light btn-floating m-1"
     class="text-white"
     role="button"
     ><i class="fa-brands fa-instagram" style="font-size: 40px;"></i></a>

     </p>
     <p>
                     <!-- Whatsaap-->
     <a
     class="btn btn-outline-light btn-floating m-1 " 
     class="text-white"
     role="button"
     ><i class="fa-brands fa-whatsapp" style="font-size: 40px;"></i></a>
     </p>

   </div>

   <!-- Grid column -->
   <hr class="w-100 clearfix d-md-none" />

   <!-- Grid column -->
   <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
     <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
     <p><i class="fas fa-home mr-3"></i> Santa clara el carmen</p>
     <p><i class="fas fa-envelope mr-3"></i> VozIpCompany@gmail.com</p>
     <p><i class="fas fa-phone mr-3"></i> cartera: 3017574659</p>
     <p><i class="fas fa-phone mr-3"></i> soporte tecnico: 3113094379</p>
   </div>
   <!-- Grid column -->
 </div>
 <!--Grid row-->
</section>
<!-- Section: Links -->

<hr class="my-3">

<!-- Section: Copyright -->
<section class="p-3 pt-0">
 <div class="row d-flex align-items-center ">
   <!-- Grid column -->
   <div class="col-md-7 col-lg-8 text-md-start">
     <!-- Copyright -->
     <div class="p-3 text-center">
      VozIpCompany © 2023 Copyright
       <a class="text-white" ></a>
     </div>
     <!-- Copyright -->
   </div>
   <!-- Grid column -->

   <!-- Grid column -->
   <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">




   </div>
   <!-- Grid column -->
 </div>
</section>
<!-- Section: Copyright -->
</div>
<!-- Grid container -->
</footer>
<!-- Footer -->
<!-- End of .container -->
</body>
</html>




   
